<div class="row mt-5">
    <ng-container *ngFor="let toDoList of toDoListFacade.list$ | async">
        <div class="col-md-6 my-3">
            <div class="card" [id]="toDoList.id">
                <div class="card-header font-weight-bold" [style.background-color]="toDoList.color">
                    <i class="fas fa-trash text-danger" (click)="DeleteListClick(toDoList.id)"></i>
                    <i class="fas fa-edit text-primary" [routerLink]="['/editToDoList', toDoList.id]"></i>
                    {{toDoList.title}}
                    <i class="fas fa-plus float-right" [routerLink]="['/addToDoItems', toDoList.id]"></i>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let todoitem of toDoList.toDoItems">
                    <li class="list-group-item todolist" data-toggle="collapse" data-toggle="collapse" [attr.data-target]="'#' + 'a' +  todoitem.id" aria-expanded="false"  [attr.aria-controls]="'a' + todoitem.id">                        {{todoitem.title}} 
                        <i class="fas fa-chevron-down pr-0 mr-0 float-right"></i>
                        <div class="collapse" [id]="'a' + todoitem.id">
                            <div class="card card-body my-1">
                                <p><b>Task:</b></p>
                                <p class="my-2">
                                    {{todoitem.text}}
                                </p>
                                <p>
                                    <b>Deadline:</b> {{todoitem.deadline}}
                                </p>
                                <p class="text-danger" (click)="deleteTaskClick(todoitem.id)">Delete this task</p>
                                <a class="text-primary" [routerLink]="['/editToDoItem', toDoList.id,  todoitem.id]">Edit this task</a>
                            </div>
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>

</div>

